# Your paymongo account details
PAYMONGO_API_BASE_URL_V1=https://api.paymongo.com/v1
# Paymongo public key. Use the test public key
PAYMONGO_PUBLIC_KEY=<use the test public key>
# Paymongo secret key. use the test secret key
PAYMONGO_SECRET_KEY=<use the test secret key - and don't share it!>

# Your database configuration goes here
DB_HOST=127.0.0.1
# Database name
DB_NAME=your_db_name
# Database user
DB_USER=db_user
# Your database password. Make one for christ sake
DB_PASSWORD=db_password
